<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB00lI-WRdmIvvbprgOIR2Ls7UFHY7pC44</string>
	<key>GCM_SENDER_ID</key>
	<string>562355043888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoPdf</string>
	<key>PROJECT_ID</key>
	<string>flutter-demo-pdf</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-demo-pdf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562355043888:ios:7b0282c39d16b3577777f5</string>
</dict>
</plist>